html {
    box-sizing: content-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.header, .section1,
.section2, .section3,
.section4, .footer {
    padding-left: 8rem;
    padding-right: 8rem;
}

.header {
    min-height: 4rem;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul {
    list-style-type: none;
    color: #e5e7eb;
}

.section1 {
    background-color: #1f2937;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: space-between;
    gap: 100px;
}

.section1-text {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 450px;
    gap: 8px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    font-weight: bold;
    color: #f9faf8;
    border-radius: .4rem;
}

.section1-button {
    width: 8rem;
    height: 2rem;
}

.odin {
    height: auto;
    max-width: 400px;
    flex-shrink: inherit;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section2-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    white-space: nowrap;
    padding-top: 30px;
}

.section2-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 100px;
}

.card-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.card {
    width: 150px;
    text-align: center;
}

.section3 {
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding-right: 175px;
    padding-left: 175px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    min-width: 450px;

}

.source {
    color: #1f2937;
    font-weight: bolder;
    font-size: 24px;
    text-align: right;
    min-width: 450px;
}

.section4 {

}

.cta-container {
    background-color: #3882f6;
    height: 125px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    gap: 50px;
    min-width: 575px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 75px;
}

.cta-title {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    white-space: nowrap;
}

.cta-sub {
    color: #f9faf8;
}

.cta-button {
    display: flex;
    align-items: center;
    padding-right: 75px;
}

.section4-button {
    height: 2rem;
    width: 8rem;
    border: #f9faf8 solid 2px;
}

.footer {
    color: #f9faf8;
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

